.section-footer{
    background-color: $third_bg_color;
    color: $btn_text_color;
    font-size: 16pt;
    font-weight: 300;
    
    .section-inner{
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &_copyright{
        flex-grow: 15;
    }

    &_social{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }
}