body{
    font-family: 'OpenSans', sans-serif;
    // height: 10000px;
}

a{
    text-decoration: none;
}
a:visited,
a:active{
    text-decoration: none;
}



.section-inner {
    max-width: 1400px;
    margin: 0 auto;
}

.btn{
    width: 180px;
    height: 55px;
    background-color: rgba(0,0,0,0);
    border: 2px solid $secondary_color;
    border-radius: 10px;
    outline: none;
    transition: .3s;
    & a{
        font-size: 12pt;
        font-weight: 700;
        color: #000000;
    }
    
    &:hover{
        background-color: $secondary_color;
        & a{
            color: $btn_text_color;
        }
    }
}

.text-title{
    font-size: 42pt;
    padding-bottom: 80px;
    font-weight: 600;
    color: $primary_text_color;

}

.text-subtitle{ 
    font-size: 16pt;  
    padding-bottom: 80px;
    color: $secondary_text_color;  
}