$general_bg_color: #f6f2f2;
$secondary_bg_color: #f6f2f2;
$third_bg_color: #2d2d2d;
$secondary_color: #ff3f40;
$btn_text_color: #e0e0e0;
$primary_text_color: #333333;
$secondary_text_color: #333333;
$third_text_color: #d5d5d5;